body{
    margin: 0; /*que no tenga márgenes por ninguna parte */
    display: flex; /*le damos flexbox*/
    flex-direction: column; /*los contenedores se alinean en columnas, uno debajo del otro*/
    align-items: center; /*los contenedores se centran horizontalmente, es decir, las columnas se van al medio*/
    min-height: 100vh; /*hace que ocupe el 100% de la pantalla como mínimo, por lo que puede crecer. 1vh es el 1% de la altura total del navegador*/
    color: white; /*color por defecto de las letras de todo el body*/
    font-family: 'Montserrat', sans-serif; /*fuente sacada de Google Fonts  para toda la página*/
    overflow-x: hidden;/*con esto evito el scroll horizontal, ya que cualquier cosa que sobrepase el ancho se queda invisible*/
    background-image: url('/imagenes/varios/fondos/fondoMarron1.jpg'); /*inserto la imagen de fondo*/
    background-size: cover;/*hace que la imagen en este caso ocupe todo el body*/
}

.titulo_conjunto {
    width: calc(100% - 100px); /*hace que el ancho de esto deje 50px a cada lado, es para la línea de debajo del título, simple estética*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.574);/*borde inferior de 2px de ancho, una línea sólida y con ese color y transparencia*/
    padding-bottom: 20px;/*espacio inferior entre la parte inferior del texto y la línea estética*/
    margin: 0 50px;/*deja margenes de 0px arriba y abajo y de 50px en izquierda y derecha*/
    text-align: center; /*el texto se alinea hacia el centro de la pantalla*/
}


#titulo_principal {
    display: block;/*es una obligación de guardar una fila para este bloque, ocupa el 100% del contenedor padre*/
    text-align:center;
    font-size: 80px; /*cambiamos el tamaño del texto*/
    color: rgba(255, 255, 255, 0.733);/*le damos un nuevo color al texto*/
    letter-spacing: 15px; /*le damos un espacio extra entre letras*/
    text-shadow: 0px 4px 15px rgba(255, 255, 255, 0.304);/*efecto de soba del texto, 0px para qu no se mueva hacia los lados, 4px la sobra se 
                                                            desplaza 4px hacia abajo y el 15px es el blur, como de borrosa es la sombra*/
    margin: 60px auto 0 auto;/*lo empuja 60px hacia abajo desde el objeto superior, auto para que calcule automaticamente ek espacio derecho, 0 para
    que no deje espacio inferior y no lo empuje desde abajo y auto para lo mismo que en derecha, en izquierda*/
    text-transform: uppercase; /*el texto va a ir siempre en mayusculas*/
    padding-bottom: 20px;/*espacio inferior desde el texto hasta el borde del contenedor*/

    width: calc(100% - 200px);/*el ancho será de el total del ancho del navegador -100px a cada lado*/
    max-width: none; /*el ancho maximo no está definido*/

}

.enlaces{
    display: flex;
    margin: 10px 30px 0 50px;
    justify-content:end;
    width: calc(100% - 300px);
    gap: 20px;
    
}

.email{
    color: rgba(255, 255, 255, 0.722);
    text-decoration: none;
    margin-top: 5px;
}

.email:hover{
    color: white;

}

.enlace-fragantica{
    margin-top: 4px;
    margin-left: 30px;
    height: 20px;
    padding: 4px;
    color: rgba(255, 255, 255, 0.722);
    text-decoration: none;
}

.enlace-fragantica:hover{
    transform: scale(1.06);
    color: rgb(255, 255, 255);
}



/*caja y botones de navegación, TODOS VERANO e INVIERNO*/
nav {
    display: flex; /*le volvemos a dar las propiedades de flexbox*/
    justify-content: center; /*alineamos horizontalmente al centro*/
    margin: 40px 0 20px 0; /*empujan a nuestro contenedor 40px desde arriba, 0px desde derecha, 20px desde abajo y 0px desde izquierda*/
}

.botones-navegacion{
    background: rgba(4, 4, 4, 0.44); /*color fondo de nuestra cajita*/
    border: 1px solid rgba(255, 255, 255, 0.2); /*fino borde de la cajita*/
    border-radius: 999px; /*el border-radius nos hace las esquinas redondeadas, 999px lo hace muy redondo*/
    padding: 4px; /*el padding es la separación interior entre el texto y los bordes de la caja que lo contiene*/
    display: flex; /*le volvemos a dar la propiedad flexbox*/
    gap: 10px;/*añadimos 10px de separación entre los elementos*/
}

.botones-navegacion a { /*todos los enlaces dentro de botones-navegacion*/
    text-decoration: none; /*le quita el subrayado de los enlaces que tienen por defecto*/
    color: rgba(255, 255, 255, 0.5); /*color del texto de los enlaces*/
    font-size: 14px; 
    font-weight: 500; /*grosor de la letra, 500 es un grosor medio*/
    font-family: Montserrat;
    letter-spacing: 0.02em;/*espacio entre letras, en este caso muy pequeño*/
    padding: 7px 20px; /*espacio interior, 7px desde el texto hasta el borde superior e inferior y 20 a los laterales*/
    border-radius: 999px; /*forma redonda de la caja que contiene cada enlace*/
    cursor: pointer; /*aseguramos que al pasar el ratón por encima cambie de flecha a mano, es una buena práctica*/
    transition: background 0.25s ease, color 0.25s ease, transform 0.25s ease, padding 0.25s ease; /*le decimos al navegador que los cambios ocurran en estos tiempos y no de golpe
    al crear el efevto :hover posteriormente. El fondo cambiará en 0.25s, ease hace que la animacion empiece rapido y termine lenta, le da suavidad.
    color lo mismo, el texto cambiará de color en 0.25s y de forma suave, transform hace que al crecer el botón tarde 0.25s se forma suave y para que se ensanche el botón
    con el padding lo haga en 0.25s y suave*/    
}
    

/*definimos lo que pasa al pasar el raton por encima, que lo hace en las condiciones anteriores de transition*/
.botones-navegacion a:hover{
    background: rgba(255, 255, 255, 0.18);
    color: white;
    transform: scale(1.06);/*crece de tamaño con un zoom suave como hemos descrito en transition, un 6% en concreto*/
    padding: 7px 24px; /*aumenta el espacio interior arriba y abajo de 4 a 7px y a los lados de 20 a 24px*/
}

/*hacemos que el fondo y el color del texto que tenga en html la <a>clase="active"</a> cambie. Es decir, si estamos en TODOS(por defecto), esta letra está en otro color y otro fondo*/
.botones-navegacion a.activa {
    background: rgba(255, 255, 255, 0.123);
    color: rgba(255, 255, 255, 0.758);
}


.contenedor_descripcion {
    background-color: rgba(255, 255, 255, 0);/*definimos solo el color del fondo*/
    backdrop-filter: blur(10px);/*emborrona lo que hay detrás del elemento*/
    border: 0.5px solid rgba(255, 255, 255, 0.403);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2); /*sombra alrededor de la caja, no se mueve hacia los lados, está centrada, se desplaza 8px hacia abajo y el el blur es de 30px*/
    color: #ffffffa7;
    width: 90%; /*ocpa el 90% del ancho de su padre, el body, lo demás queda vacío*/
    text-align: center;
    margin: 20px auto 70px auto;
    max-width: 700px; /*se puede estirar todo lo que quiera pero no más de 700px*/
    margin-top: 50px;
    transition: transform 0.8s ease-in-out, box-shadow 1s ease-in-out;/*transición para el :hover. Tarda 0.8s en completar la transform indicada en el hover. Empieza lenta, acelera en medio y se hace lenta al final otra vez. Lo mismo con la sombra*/
    cursor: default; /*no cambia a mano, se queda en flecha el ratón al pasar por encima de esta caja*/
}
.contenedor_descripcion:hover{
    transform: scale(1.1);/*el elemento crece un 10% de su tamaño original*/
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.794); /*aplicamos la sombra a la caja en los tiempos anteriores*/
}


#titulo_descripcion{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;

}

#descripcion{
    font-size: 14px;
    line-height: 1.6; /*es el interlienado dependiendo del tamaño de la fuente*/
    color: white;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.enlaces{
    
}
/* Animación aparecer elementos, en este caso los perfumes 
las animaciones las hacemos con ese arroba y la palabra keyframes. Definen la evolución de un eleemnto
desde un estado inicial a uno final, o también a través de pasos intermedios*/
@keyframes show { /*identificador de la animacion*/
    from{ /*estado inicial con esas condiciones, opacidad de un 0%, transparente, y una escala del 24% del tamaño original*/
        opacity: 0;
        scale: 25%;
    }
    to{/*estado final*/
        opacity: 1;
        scale: 100%;
    }
}

.todos-perfumes{
    display: grid;/*usamos grid para traajar con las cajitas de los perfumes en dos dimensiones, filas y columnas*/
    grid-template-columns: repeat(3, 1fr);/*estructura de las columans.1fr va con porcentajes a diferencia de los px, por lo que siempre será el mismo % para cada columna, miden todas lo mismo
    3 es la cantidad de columnas y 1fr es el ancho de cada una, repeat se usa para que esto se haga tres veces, es un atajo*/
    gap: 30px; /*añade 30px de separación entre las columnas, se aplica en las "calles", no en las cajas*/
    width: calc(100% - 40px); /*coge el 100% del ancho del contenedor y le resta 40px*/
    max-width: 1100px; /*ancho máximo del contenedor de 1100px*/
    margin: 40px auto;

    /* es la animacion, le decimos el nombre para enlazar la linea de tiempo, en este caso --image */
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show; /*animación show creada antes*/

    animation-range: entry 8% cover 20%;
}

.todos-perfumes div {
    background: rgba(255, 255, 255, 0.241);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.todos-perfumes div:hover{
    transform: scale(1.04);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.397);
}

.todos-perfumes h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 5 0 6px 0;
    color: white;
}

.todos-perfumes h4 {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.todos-perfumes img {
    width: 100%;/*ancho de toda la caja*/
    height: 280px; /*alto fijo para todos*/
    object-fit: cover; /*la imagen mantiene su proporción original pero se recorta para llenar el espacio disponible*/
    border-style: none;/*caja sin borde*/
    border-radius: 10px;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*divide el footer en 3 columnas del mismo tamaño y cada una ocupa 1 fracción del espacio total*/
    padding: 10px 50px; /* Añadimos margen a los lados para que no se pegue a los bordes */
    box-sizing: border-box;
    margin-top: auto; /* Esto lo empuja al final */
    background: rgba(0, 0, 0, 0.656); /* Fondo oscuro para que el texto blanco resalte */
    color: rgba(255, 255, 255, 0.644);
    font-size: 12px;
    width: 100%;
}

/*ubicamos cada parte en una zona de la pantalla horizontalmente*/
#nombre_footer { 
    text-align: left; 
}
#datos_proyecto_footer { 
    text-align: center; 
}
#colegio_footer { 
    text-align: right; 
}

/*overlay es la capa oscura inferior que sale una vez pinchas en el perfume*/
.overlay {
    display: none; /*por defecto no aparece, aparece al cambiarlo a flex con JS*/
    position: fixed; /*se queda fijo aunque podamos scrollear, es como un filtro en este caso*/
    inset: 0; /*es un atajo para no escribir top:0 bottom: 0 etc*/
    background: rgba(0,0,0,0.7); /*el filtro negro en si con un 70% de opacidad*/
    backdrop-filter: blur(4px); /*aplicamos un desenfoque a lo que hay detrás del overlay*/
    z-index: 100; /*esto controla la profundidad, para que el overlay se coloque por encima de cualquier elemento de la web*/
    align-items: center; /*esta regla y la siguiente ubican nuestro overlay en medio horizontal y verticalmente*/
    justify-content: center;
}

/*si el elemento contiene la clase overlay y la clase visible se aplican estos cambios, hace que pase de none a flex como dijimos antes a través de JS*/
.overlay.visible {
    display: flex;
    animation: fadeIn 0.9s ease; /*tiempo que tarda en ejecutarse la animacion fadeIn*/
}

/*animación para indicar el principio y el final de la animacion fadeIn*/
@keyframes fadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

/*cambios aplicados al bloque que aparece sobre el overlay*/
.modal {
    font-weight: 500;
    background-image: url(/imagenes/varios/fondos/fondoMarron4.jpg);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 520px;
    text-align: center;
    animation: slideUp 0.3s ease; /*como desaparece el bloque modal*/
    position: relative;
    max-height: 85vh;
    overflow-y: auto;
}

/*animación de cierre*/
@keyframes slideUp {
    from { 
        opacity: 0; transform: translateY(20px); 
    }
    to { 
        opacity: 1; transform: translateY(0); 
    }
}

/* Animación de salida: de visible a invisible y hacia abajo */
@keyframes slideDown {
    from { 
        opacity: 1; transform: translateY(0); 
    }
    to { 
        opacity: 0; transform: translateY(20px); 
    }
}


/* Esta clase la pondremos por JavaScript */
.modal-closing {
    animation: slideDown 0.3s ease forwards !important;
}

.modal h2 {
    font-size: 22px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.609);
    margin-bottom: 6px;
}

.modal h3 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.785);
    margin-bottom: 12px;
}

.modal p {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 8px;
}

#modal-imagen {
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 16px;
}

.modal-notas {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    padding: 12px;
    margin: 12px 0;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.cerrar {
    position: absolute;
    top: 14px;
    right: 18px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.cerrar:hover { 
    color: white; 
}

.todos-perfumes div { 
    cursor: pointer; 
}

/* Lo siguiente es para que funcione bien en móviles rambién, usando una media query que solo se aplica si la pantalla mide menos de 768px*/


@media (max-width: 768px) {
    
    /* aquí reducimos el tamaño del título para que quepa en el teléfono*/
    #titulo_principal {
        font-size: 40px;
        letter-spacing: 5px;
        width: 100%;
        margin-top: 30px;
    }

    /* el grid lo pasamos a 1 columna en vez de 3, para que se vea perfecto */
    .todos-perfumes {
        grid-template-columns: 1fr;
        width: 90%;
    }

    /*reducimos el tamaño de la caja */
    .contenedor_descripcion {
        width: 80%;
        padding: 15px;
    }

    /*pasamos el grid del footer también a 1 columna centrada */
    .footer {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    #nombre_footer, #datos_proyecto_footer, #colegio_footer {
        text-align: center;
    }

    /*ajustamos el modal para que no se nos salga de la pantalla */
    .modal {
        width: 95%;
        padding: 1rem;
    }
}